*
{
    padding: 0;
    margin: 0;
}

hr { margin-bottom: 5px; }

a, a:hover, a:visited
{
    color: #306090;
    text-decoration: underline;
}

.menuLink, .menuLink:hover, .menuLink:visited
{
    color: #306090;
    text-decoration: underline;
}

body
{
    font-family: Tahoma, sans-serif;
    font-size: 12px;
}

.commonTable
{
    background-color:white;
    border: 1px solid silver;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    clear:both;
}

.innerTable
{
    border-collapse:collapse;
    border: 1px solid silver;
}

.tableHeader
{
    font-size: 14px;
    background-color:#99C2FF;
    font-weight:bold;
    padding: 5px;
    text-align: center;
}

.tableMenuItem
{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border: 1px solid silver;
}

.tableMenuItemButton
{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.tableMenuItem a, .tableMenuItem a:hover, .tableMenuItem a:visited
{
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
    color: black;
}

.evenRow
{
    background-color: #f3f3f3;
}

.oddRow
{
    background-color: white;
}

.tableCell
{
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    padding: 5px;
}

.tableCellButton
{
    background-color: white;
    border-top: 1px solid silver;
    padding: 5px;
}

.cellLink, .cellLink:hover, .cellLink:visited
{
    color: black;
    text-decoration: none;
}

.loginbox { border: black 1px solid; margin:10px; width:300px; height:120px; position:relative; left:30%; top:30%;}
.loginboxinside { margin:10px; background-color:silver; width:280px; height:100px;}

.textInput,textarea {
  background-color:#FFFFFF;
  border:1px solid silver;

	font-size:14px;
	font-family:Tahoma, sans-serif; 
	font-style:normal;
	font-weight:bold;
	text-decoration:none; 
	padding: 3px;	
}

.textInput[disabled], textarea[disabled]
{
	background-color: silver;
}

.inputHighlighted{  /* Highlighting style */

  border:1px solid silver;

	font-size:14px;
	font-family:Tahoma, sans-serif; 
	font-style:normal;
	font-weight:bold;
	text-decoration:none; 
	padding: 3px;
  background-color:lightyellow;
}

.textInputWarning
{  
	background-color: #ff9999;
	border:1px solid silver;
	font-size:14px;
	font-family:Tahoma, sans-serif; 
	font-style:normal;
	font-weight:bold;
	text-decoration:none; 
	padding: 3px;	
}


.submitButton {  
  background-color:#eeeeee;
  border:1px solid silver;
  padding: 5px;
  cursor: pointer;
}

.formField
{
    padding: 5px;
}

.formFieldCaption
{
    font-weight: normal;
}

.formFieldValue
{
    font-weight: bold;
}

.subsectionBox
{
    background-color:silver;
    color:black;
    font-weight:bold;
}

.crmCaption
{
    text-align:center;
    font-weight:bold;
    font-size:16px;
}

.loginTable
{
    position: absolute;
    top: 35%;
    left: 35%;
    border:0px;
}

.redBorder{
 border: 1px solid red;
}

.errField{
  position: absolute;
  color: red;
  background: white;
  border: 1px solid #eee;
  padding: 10px;
}

.emptySearchItem
{
    color: gray;
}

.searchDialog
{
    display:none;
    background-color:#f9f9f9;
    width:405px;
    position:absolute;
    /*top:300px;*/
    left:50%;
    margin-left:-250px;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.header
{
    font-family:	normal Verdana,Tahoma,sans-serif;
    font-size:	26px;
    font-style:	normal;
    color:	#666666;
    padding-bottom: 20px;
}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: 10;
    display: none;
    background-color: #000000;
    opacity: .7;
    filter:progid:DXImageTransform.Microsoft.BasicImage(opacity=.7);
}

.red {
    background-color: #ff9999;
}